.c-intro {
  width: 100%;
  height: 900px;

  background: #fffbf3;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .c-intro__wrapper--title {
      font-family: Segoe UI;
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      line-height: 47px;
      margin-top: 76px;
      border-bottom: 4px solid #499476;

      color: #000000;
    }

    span {
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 40px;
      margin-top: 94px;

      color: #000000;
    }
  }
}
