.c-apply {
  width: 100%;
  height: 850px;
  background: #fffbf3;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .c-apply__wrapper--desc {
      margin-top: 100px;
      margin-bottom: 100px;

      span {
        font-family: Segoe UI;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 51px;

        color: #000000;

        span {
          margin-left: 200px;
        }
      }
    }

    .c-apply__wrapper--button {
      position: absolute;
      width: 387px;
      height: 107px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 500px;

      background: #add1aa;
      border-radius: 50px;

      font-family: Segoe UI;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 53px;
      outline: none;
      cursor: pointer;

      color: #fffbf3;
      z-index: 1;

      &:hover {
        background-color: #4DD2BD;
        color: #ffffff;
      }
    }
  }
}
